.header {
  height: 100px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 275px;
    display: block;
    background: $color-bg-linear;
    z-index: 3;
  }

  &-container {
    @include flex(row, space-between, center);
    padding: 35px 0;
  }
}

.nav {
  @include flex(row, space-between, center);
  gap: 32px;
  color: $color-white;
  text-shadow: $text-shadow;
  z-index: 7;

  a:hover {
    text-shadow: $text-shadow-3d;
  }

  .active:hover {
    text-shadow: none;
  }
}

.active {
  color: $color-green-accent;
  padding-bottom: 1px;
  a {
    position: absolute;
  }

  &::after {
    display: block;
    content: "";
    position: relative;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 6px;
    background: $color-green-accent;
  }
}
