.services {
  @include flex(column, center, center);
  gap: 200px;

  &-section {
    @include flex(column, center, center);
    gap: 40px;
  }

  &-title {
    color: $color-black;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 122%;
    font-size: var(--font-size-lg);

    span {
      color: $color-green-accent;
    }
  }

  &-subtitle {
    text-transform: capitalize;
    color: $color-grey-dark;
    position: relative;

    &__empty {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -85px;
        width: 183px;
        height: 1px;
        background: $color-grey;
      }
    }
    &__with-text {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        width: 183px;
        height: 1px;
        background: $color-grey;
      }

      &::before {
        left: -200px;
      }

      &::after {
        left: 170px;
      }
    }
  }

  &-textContent {
    @include flex(row, center, center);
    gap: 20px;

    &__img {
      max-height: 450px;
    }

    &__list {
      @include flex(column, center, center);
      gap: 72px;
    }
  }
}

.firstSection-textBlock {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 422px;

  &__left {
    flex-direction: row;
    justify-content: end;
    text-align: right;

    &__text {
      align-items: end;
    }
  }

  &__right {
    flex-direction: row-reverse;
    justify-content: start;
    text-align-last: left;

    &__text {
      align-items: start;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 130px;

    h4 {
      font-size: var(--font-size-md);
      color: $color-green-accent;
      font-weight: 600;
    }

    p {
      font-size: var(--font-size-sm);
      width: 320px;
    }
  }

  &__img {
    @include flex(row, center, center);
    background: $color-grey-light;
    border-radius: 50%;
    padding: 12px;

    img {
      width: 72px;
      height: 72px;
    }
  }
}
