@mixin mobile {
  @media screen and (min-width: $screen-mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $screen-tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $screen-desktop) {
    @content;
  }
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
