html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
  font-size: var(--font-size-xs);
  line-height: 1.6;
  color: $color-black;
  background-color: $color-white-green;
  margin: 0;
  font-weight: 400;
}

#root {
  @include flex(column, center, center);
  min-height: 100vh;
  margin: 0;
  min-width: 100vw;
  overflow-x: hidden;
}

#bg {
  background-image: linear-gradient(
      to bottom,
      $color-bg-green-opacity,
      $color-bg-green-opacity-1
    ),
    url("/home.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

#right-gradient {
  width: 100vw;
  height: 100vh;
  background-image: $color-bg-grey-opacity-right;
  overflow-y: scroll;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  color: $color-grey-dark;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

a,
button {
  cursor: pointer;
  transition: $cubic;
}

.container {
  margin: 0 auto;
  padding: 0 10px;

  @media (min-width: $screen-mobile) {
    width: $screen-mobile;
    padding: 0 20px;
  }

  @media (min-width: $screen-tablet) {
    width: $screen-tablet;
    padding: 0 32px;
  }

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
    padding: 0 16px;
  }
}
