html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
  font-size: $font-size-sm;
  line-height: 1.6;
  color: $color-black;
  background-color: $color-white-green;
  margin: 0;
  font-weight: 400;

  @include tablet {
    font-size: $font-size-md;
  }
}

#root {
  @include flex(column, center, center);
  min-height: 100vh;
  margin: 0;
  position: relative;
  width: 100vw;
  overflow-x: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 275px;
    display: block;
    background: $color-bg-linear;
    z-index: 3;
  }
}

main {
  flex: 1;
  overflow-y: auto;
}

footer {
  margin-top: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  color: $color-text-main;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

a,
button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 10px;

  @media (min-width: $screen-tel) {
    width: $screen-tel;
    padding: 0 20px;
  }

  @media (min-width: $screen-tablet) {
    width: $screen-tablet;
    padding: 0 32px;
  }

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
    padding: 0 16px;
  }
}
